
body {background-color: whitesmoke}
body {background-color: gainsboro}

/*Typselektor*/
h1,h2 {color: green}
/*Klassenselektor*/
.line {color: goldenrod}
/*ID-Selektor*/
#id1 {color: violet}

figure{
    background-color: orange;
    margin: 1em;
    width: 250px;
}

svg{height: 110px;}

header, footer {
    min-height: 1em;
    background: wheat;
}

/*Konfigurierung der Tasten*/
#tasten {
    background-color: aquamarine;
    padding: 0.5em;
}

/*Kombinierter Selektor wählt alle Tasten, die Kinder von ID Tasten sind*/
#tasten > button {
    width: 5em;
}

/*Kombinierter Selektor wählt alle nachfolgenden Geschwister*/
#A ~ button{color: cornflowerblue;}

/* Strukturelle Pseudoklasse*/
p::first-letter {font-size: 200%;}

/*Navi*/
nav ul {list-style-type: none; background-color: lightgrey;}
nav ul li {display: inline}
nav ul li a:hover{
    background-color:#111;
}

/*Rahmen+Abstände*/
header, article, nav, aside, footer {
    margin: 0.25em;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
}

/*Fley Container für Flex Items: article, nav, aside*/
main {background-color: grey; display:flex; }

/*Flex Items mit Flex grow, shrink, basis*/
nav {background: skyblue; order: 1; flex: 0 0 8em;}
article {background: lightyellow; order:2;flex: 3 3 0%;}
aside {background: yellowgreen; order:3;flex: 1 1 0%;}

/*Wenn Viewport kleiner 40 Zeichen -> eine Spalte, Reihenfolge*/
@media all and (max-width: 40em){
    main{
        flex-direction: column;
    }
    main > * {
        order: 0;
    }
}

/*Automatisierte Silbentrennung
hyphens: auto;
-webkit-hyphens: auto;*/