*, *::before, *::after {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}
:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}
  
body {
    --hue: var(--hue-neutral);
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 20%);
}

header, footer {
    background-color: #ccc;
    min-height: 1em;
}

/*Konfigurierung der Tasten*/
#tasten {
    padding: 0.5em;
}

/*Kombinierter Selektor wählt alle Tasten, die Kinder von ID Tasten sind*/
#tasten > button {
    width: 5em;
}


/*Navi*/
nav ul {list-style-type: none; background-color: lightgrey;}
nav ul li {display: inline}
nav ul li a:hover{
    background-color:#111;
}

/*Rahmen+Abstände*/
header, article, nav, aside, footer {
    margin: 0.25em;
    padding: 0.5em;
    border: 1px;
    border-radius: 0.5em;
}

/*Flex Container für Flex Items: article, nav, aside*/
main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
}


/*Flex Items mit Flex grow, shrink, basis*/
nav { order: 1; flex: 0 0 8em;}
article {order:2;flex: 3 3 0%;}
aside {order:3;flex: 1 1 0%;}

/*Wenn Viewport kleiner 40 Zeichen -> eine Spalte, Reihenfolge*/
@media all and (max-width: 40em){
    main{
        flex-direction: column;
    }
    main > * {
        order: 0;
    }
}
